/* -------universerl------ */
* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.container {
    max-width: 1120px;
    margin: auto;
}


/* ---------Header------------  */
header {
    position: sticky;
    top: 0;
}

.main {
    background-color: #082c4e;
    color: white;
}

.main a {
    color: white;
    text-decoration: none;
    padding: 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.research {
    font-weight: 700;
}

.right {
    display: flex;
    gap: 10px;
}

.right>a:hover {
    text-decoration-line: underline;
    text-decoration-color: yellow;
}

/* ---------section-1------------ */
.main1 {
    background-color: #082c4e;
    color: white;
}

.contant1 {
    display: flex;
    padding: 80px 30px;
    /* justify-content: center;
    align-items: center; */
}

h1.section1 {
    line-height: 1.2;
    font-weight: 300;
    font-size: 70px;
}

.main1 a {
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 40px;
    text-align: center;
    margin-top: 30px;
    font-size: 22px;
    font-weight: 700;
}

.left1 {
    width: 50%;
}

.right1 {
    width: 50%;
}

.right1 img {
    width: 100%;
}

/* ---------section-2------------  */
.main2 {
    color: #082c4e;
    background-color: white;
    padding: 100px 0px;
}

.section2 {
    text-align: center;
    font-weight: 700;
    font-size: 65px;
}

.contant2 {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.con {
    padding: 20px;
    /* width: 20%; */
    color: #082c4e;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.con1 {
    background-color: rgb(239, 105, 105);
}

.con2 {
    background-color: rgb(240, 202, 32);
}

.con3 {

    background-color: rgb(105, 214, 239);
}

.con4 {

    background-color: rgb(235, 220, 220);
}

.con5 {
    background-color: rgb(239, 105, 105);
}

h2 {
    font-weight: 400;
    font-size: 35px;
}

.all {
    color: #082c4e;
    line-height: 1.5;
}

.con1 a:hover {
    text-decoration-line: underline;
}

.read {
    font-size: 18px;
    padding: 0;
}

i {
    font-size: 70px;
}

/* ---------section-3------------  */
.main3 {
    background-color: #082c4e;
    color: white;
}

.contant3 {
    padding: 250px 150px;
    line-height: 1.2;
    font-size: 40px;
}

.main3 a {
    color: rgb(255, 251, 5);
    text-decoration: none;
}

.main3 a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 251, 5);

}

/* ---------section-4------------  */

.main4 {
    color: rgba(0, 0, 0, 0.912);
    background-color: white;
}

.contant4 {
    padding: 100px 0;
}

.first4 {
    padding: 30px 0;
    display: flex;
}

.right4 {
    width: 20%;
}

.left4 {
    width: 80%;
}

.main4 i {
    vertical-align: top;
    font-size: 100px;
    color: rgba(255, 204, 0, 0.705);
}

.main4 h1,
p {
    padding-bottom: 10px;
}

.action {
    font-size: 18px;
    font-weight: 400;
}

.main4 p {
    font-size: 20px;
    line-height: 1.5;
}

.main4 a {
    color: rgb(4, 160, 233);
    text-decoration: none;
}

.main4 a:hover {
    background-color: rgb(255, 234, 0);
    padding: 2px 5px;
    border-radius: 30px;
}

/* ---------section-5------------  */
.main5 {
    padding: 100px 0px;
    color: black;
    background-color: rgb(255, 208, 0);

}

.contant5 {
    display: flex;
}

.left5 h1 {
    font-size: 70px;
    font-weight: 300;
    line-height: 1;
}

.dirc {
    font-size: 30px;
    color: rgb(4, 195, 233);
}

.left5 a {
    font-size: 18px;
    font-weight: 900;
    color: black;
    text-decoration: none;
}

.left5 {
    padding: 50px 0;
    width: 50%;
}

.left5 p {
    padding: 50px 0;
    line-height: 1.4;
    font-size: 20px;
}

.right5 {
    width: 50%;
}

.right5 img {
    width: 100%;
}

/* ---------section-6------------  */
.contant6 {
    margin: 50px;
}

.tab {
    font-size: 20px;
}

.main6 {
    color: #082c4e;
    background-color: white;
}

.tab {
    border-top: 1px solid rgb(0, 162, 255);
    display: flex;
}

.col1 {
    width: 10%;
}

.col2 {
    width: 10%;
}

.col3 {
    /* text-align: left; */
    line-height: 1.5;
    width: 70%;
}

.col4 {
    width: 10%;
}


/* ---------section-7------------  */
.main7 {
    background-color: #082c4e;
    color: white;
}

.contant7 {
    display: flex;
    padding: 80px 0;
    gap: 30px;
}

.main7 h1 {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    padding-bottom: 30px;
}

.main7 a {
    text-decoration: none;
    color: white;
}

.main7 a:hover {
    text-decoration-line: underline;
    color: white;
}

.left7 p {
    font-size: 20px;
    line-height: 1.3;
}

.left7 {
    width: 50%;
}

.right7 p,
a {
    font-size: 18px;
    line-height: 1.2;
}

.right7 {
    width: 50%;
}

.red {
    padding: 20px;
    display: flex;
    background-color: rgb(248, 103, 112);
}

.blue {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    background-color: rgb(130, 41, 202);
}

/* ---------section-8------------  */
.main8 {
    background-color: white;
    margin-top: 50px;
}

.main8 h1 {
    font-size: 45px;
    font-weight: 500;
    line-height: 1.2;
}

.contant8 {
    padding: 80px 0;
}

.contant8 p {
    font-size: 20px;
    line-height: 1.5;
}

.back {
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 20px;
    padding: 20px 30px;
    font-weight: 600;
}

.list {
    padding-top: 20px;
    display: flex;
    gap: 20px;
}

.list img {
    width: 70px;
    border-radius: 50%;
}

/* ---------section-9------------  */
.main9 {
    background-color: #082c4e;
    color: white;
}

.contant9 {
    padding: 50px;
}

.main9 h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.head {
    text-align: center;
    font-size: 30px;
    color: yellow;
}

.info1 {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.main9 img {
    width: 150px;
    border-radius: 70%;
}

/* ---------section-10------------  */
.main10 {
    padding: 100px 0;
}

.contant10 {
    display: flex;
}

.main10 p {
    line-height: 1.3;
}

.contact {
    font-size: 18px;
    /* width: 50%; */
    background-color: rgb(255, 200, 0);
    padding: 50px 50px;
}

.contact h1 {
    color: rgb(0, 170, 255);
}

.support h1 {
    color: rgb(255, 200, 0);
}

.support {
    font-size: 18px;
    color: white;
    /* width: 50%; */
    padding: 50px 50px;
    background-color: rgb(0, 170, 255);
}

/* ---------section-11------------  */
.main11 {
    background-color: rgb(243, 228, 208);
}

.contant11 {
    padding: 100px 0;
    display: flex;
}

.I i {
    color: rgb(255, 200, 0);
    font-size: 150px;
}

.main11 h3 {
    color: rgb(0, 94, 255);
}

.H p {
    font-size: 20px;
    line-height: 1.5;
}

/* ---------section-13------------  */
.main13 {
    background-color: #082c4e;
    color: white;
}

.contant13 {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contant13 p {
    line-height: 1.5;
    font-size: 18px;
}

.p1 {
    margin-bottom: 100px;
}

.contant13 a {
    font-size: 15px;
    color: white;
    text-decoration: none;
}


.list1 {

    display: flex;
    gap: 100px;
}

ul {
    list-style-type: none
}

form {
    margin-top: 50px;
}

input {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    padding-right: 100px;
}

.three i {
    font-size: 20px;
}